@font-face {
    font-family: Arvo;
    src: url(/assets/Arvo-Regular.ttf);

    font-family: ArvoBold;
    font-weight: bold;
    src: url(/assets/Arvo-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arvo, sans-serif;
}

body,html {
    height: 100%;
    text-align: center;
}

body {
    background: #111111;
    background: -moz-linear-gradient(right,  #111111 0%, #000000 100%);
    background: -webkit-linear-gradient(right,  #111111 0%,#000000 100%);
    background: linear-gradient(to right,  #111111 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#000000',GradientType=1 );

    color: white;
}

a {
    color: #fd4239;
    text-decoration: none;
    transition: .3s filter;
}

a:hover {
    filter: invert(75%);
}

input,button {
    padding: 10px;
    margin: 10px;
    background-color: #111;
    border: 1px solid #fff;
    color: white;
}

input[type=submit],button {
    transition: .3s color, .3s background-color;
}

input[type=submit]:hover,button:hover {
    cursor: pointer;
    background-color: white;
    color: #111;
}

input[type=submit]:active,button:active {
    background-color: seagreen;
    color: white;
}

.banner {
    width: 100%;
    height: 50%;
    color: #fd4239;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 128px;
    border-radius: 100%;
    margin-right: 25px;
}

.banner h1 {
    font-size: xxx-large;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.repo {
    margin: 25px;
    padding: 50px;
    background-color: #0b0b0b;
    border-radius: 50px;
    box-shadow: 0 5px 10px black;
    transition: .3s all;
}

.skeleton-line {
    width: 100px;
    height: .5rem;
    margin-top: 5px;
    background-color: gray;
    animation: skeleton-pulse 1s infinite alternate;
}

.skeleton-line.big {
    width: 250px;
    height: 2rem;
}

@keyframes skeleton-pulse {
    from, to {
        background-color: gray;
    }

    100% {
        background-color: darkgray;
    }
}


h2 .skeleton-line {
    height: 1rem;
    width: 120px;
}

.description.skeleton-line {
    width: 80px;
}

.repo:hover {
    box-shadow: 0 20px 20px black;
    transform: scale(1.1);
}

.repo:active {
    box-shadow: 0 0 20px black;
    background-color: black;
    transform: scale(1.0);
}

.repo.noscale:hover {transform:scale(1);}
.repo.noscale:active {background-color:#0b0b0b;}

.description {
    margin-top: 25px;
}

.skeleton-image {
    width: 128px;
    height: 128px;
    animation: skeleton-pulse 1s infinite alternate;
    border-radius: 100%;
    margin-right: 25px;
}

.markdown {
    line-height: 2rem;
    text-align: left;
}

.markdown ul, .markdown ol {
    margin-top: 25px;
    margin-bottom: 25px;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    margin-bottom: 20px;
}

.markdown img {
    max-width: 100%;
}

.noscale img {
    max-width: 50%;
    max-height: 50%;
}

.darker {
    color: #771f1a;
}

.invisible {
    display: none;
}

.comment .info {
    display: flex;    
}

.comment .info * {
    margin: 5px;
}

.comment img {
    width: 32px;
    transform: translateY(-25%);
}

.timeline {
    width: 90%;
    min-height: 250px;
    margin: 0 auto;
}

.timeline .timeline-bar {
    background-color: white;
    height: 5px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.timeline .timeline-bar .timeline-dot {
    transform: translateY(calc(-50% + 2.5px));
    color: transparent;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    font-size: xx-small;
    transition: .3s transform, .3s background-color, .3s color;
}

.timeline .timeline-bar .timeline-dot::after {
    width: 100px;
    text-align: center;
    content: attr(data-time);
    position: absolute;
    transform: translate(-50%, -100%);
}

.timeline .timeline-bar .timeline-dot.selected {
    color: white;
    background-color: #fd4239;
    transform: translateY(calc(-50% - 20px)) scale(150%);
}

.timeline .timeline-item {
    background-color: #fd423980;
    padding: 50px;
    min-height: 180px;
}

#search {
    width: 90%;
    margin-left: 0;
    padding: 5px;
}